input {
  stdin { }
  file {
    path => "/work/*.*"
    start_position => "beginning"
    sincedb_path => "/dev/null"
  }
}

filter {
  dissect {
    mapping => {
      "message" => "%{}:%{n},%{}:%{e}"
    }
  }
  mutate {
    add_field => {
      "[location][lat]" => "%{[n]}"
      "[location][lon]" => "%{[e]}"
    }
  }
  mutate {
    convert => {
      "[location][lat]" => "float"
      "[location][lon]" => "float"
    }
  }
}

output {
  stdout { codec => rubydebug }
  elasticsearch { 
    hosts => ["elasticsearch:9200"]
    manage_template => false
  }
}
